# Azure ML
.azureml/
outputs/
logs/
models/

# Arquivos de ambiente
.env
.env.local
.azure-ml-env

# MLflow
mlruns/
mlflow.db

# Jupyter
.ipynb_checkpoints/
__pycache__/

# Dados
data/raw/*.csv
data/processed/*.parquet

# outros
estrutura.py
test_outputs/
__init__.py
rascunho.txt

